/* Main */
main {
  background-color: grey;
}

/* Arrows */

.action-arrow {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 5px;
}

.action-arrow:hover {
  transition: 150ms;
  transform: scale(1.45);
}

/* Carrousel */

#carrousel {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  margin: 0px 5px;
  width: 80vw;
}

.carrousel-item {
  margin: auto;
  align-self: center;
}

.visible:hover {
  transition: 150ms;
  transform: scale(1.05);
}

.prev:hover,
.next:hover {
  transition: 150ms;
  transform: scale(0.65);
  opacity: 1;
}

.prev,
.next {
  opacity: 0.6;
  transition: 150ms;
  transform: scale(0.6);
}

.no-visible {
  display: none;
}

/* Card */

.card01 {
  border-radius: 10px;
  margin: auto;
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.container {
  padding: 5%;
  text-align: center;
}

.card-description {
  color: #fafafa;
  font-size: 0.5rem;
  text-align: justify;
}

.card-code {
  color: #e01037;
  font-size: 0.9rem;
  text-align: left !important;
}

.card-title {
  color: #fafafa;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

.card-action {
  background-color: #e01037;
  border-radius: 5px;
  border-color: #e01037;
  color: #fafafa;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.product-section {
  text-align: center;
  background-color: #fafafa;
}

/* Utilites */

.non-selectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Media querys */

@media (max-width: 700px) {
  .prev,
  .next {
    display: none;
  }

  #prev {
    margin-right: 20px;
  }

  #next {
    margin-left: 20px;
  }
}
